<server description="Sample Liberty server">

  <featureManager>
      <feature>microprofile-1.2</feature>
  </featureManager>

<!-- enables security-->
<quickStartSecurity userName="confAdmin" userPassword="microprofile"/>
<keyStore id="defaultKeyStore" password="mpKeystore"/>

  <httpEndpoint httpPort="9080" httpsPort="9480"
      id="defaultHttpEndpoint" host="*" />
 <login-config>
    <auth-method>BASIC</auth-method>
 </login-config>
</server>
