  .microservice{
    border-color: white;
    width: 40%;
    position: relative;
    outline: white groove;
    display: inline-block;
    vertical-align: top;
    margin-top: 5%;
    margin-left: 5%;
  }

  .login{
    color: white;
    vertical-align: top;
  }

  .metrics {
    height: 30%;
  }

  .metrics-text {
    color: white;
  }

th{
  float:left;
  color: white;

}
td{
  color: white;
  font-size: 100%;
}
pre{
  color: white;
}

h1 {
color: #FFFFFF;
font-family: Arial, Helvetica, sans-serif;
font-size: 250%;
}
h2 {
color: #FFFFFF;
font-family: Arial, Helvetica, sans-serif;
font-size: 150%;
text-align: center;
}

.health-metrics{
  margin-top: 5%;
  margin-left: 43%; 
}

.health-up {
  color: green;
}