<!-- The app component template is the root component template of the application, 
it contains a router-outlet directive for displaying the contents of each view 
based on the current route, and an alert directive for displaying alert messages 
from anywhere in the system. -->




<html>
  <div style="text-align:center">
    <h1>
        Liberty MicroProfile Dashboard
    </h1>
  </div>
  <section class="login">
    <alert></alert>
    <router-outlet></router-outlet>
  </section>
  <section class= "microservice serviceA">
    <h2> Your Spaceship Details: </h2>
    <table>
      <tr>
        <th> Operating System </th>
        <td> {{os}} </td>
      </tr>
      <tr>
        <th> OS version </th>
        <td> {{osVersion}} </td>
      </tr>
      <tr>
        <th> OS Language </th>
        <td> {{osLanguage}} </td>
      </tr>
      <tr>
        <th> UserName </th>
        <td> {{user}} </td>
      </tr>
      <tr>
        <th> User Home </th>
        <td> {{userHome}} </td>
      </tr>
      <br>
      <br>
      <img src="assets/logo.png" width="180" align="middle">
    </table>
  </section>

  <section class= "microservice serviceB">
    <h2> The Neighbouring Spaceship's Details: </h2>
    <table>
      <tr>
        <th> Ship Name </th>
        <td> {{shipName}} </td>
      </tr>
      <tr>
        <th> Ship Type </th>
        <td> {{shipType}} </td>
      </tr>
    </table>
    <h2>{{outcome2}}</h2>
  </section>

</html>